/* font-family: 'Great Vibes', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Quicksand', sans-serif; */

:root {
    --dark_pink: #e9584d;
    --light_pink: #f9ebe3;
    --blue_navy: #273741;
    --yellow: #e8cb99;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1100px;
}

body {
    background-color: var(--light_pink);
    overflow-x: hidden;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: var(--yellow);
    color: var(--blue_navy);
}

.banner div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    text-align: center;
}

.clickable:hover {
    cursor: pointer;
}

h1 {
    font-family: 'Great Vibes', cursive;
    text-shadow: 1px 1px 3px var(--yellow);
}

h2,
h3,
h4 {
    font-family: 'Kaushan Script', cursive;
}

p,
div {
    font-family: 'Quicksand', sans-serif;
}
p {
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

header {
    background-color: var(--blue_navy);
    color: var(--light_pink);
    padding: 1em;
    height: 135px;
}

.logo-title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
}

#header-logo {
    width: 75px;
    height: auto;
}

nav {
    color: var(--light_pink);
    border-top: 1px solid var(--light_pink);
}

ul {
    list-style-type: none;
    padding-left: 0;
    font-family: 'Quicksand', sans-serif;
}

nav ul li:hover {
    border-bottom: 8px solid transparent;
    border-image: linear-gradient(90deg, var(--yellow), var(--blue_navy));
    border-image-slice: 1;
    margin-bottom: 0;
}

.active {
    border-bottom: 8px solid transparent;
    border-image: linear-gradient(90deg, var(--yellow), var(--blue_navy));
    border-image-slice: 1;
    margin-bottom: 0;
}

.active:hover {
    background-color: var(--light_pink);
    color: var(--blue_navy);
    margin-bottom: 0;
    border-bottom: .5em solid var(--light_pink);
    /* border-image: none;  ASK MAYLI*/
}

nav ul li {
    float: left;
    padding: .5em 1em 0 .5em;
    /* border-top: .5em solid var(--blue_navy);
    border-right: 1em solid var(--blue_navy); */
    border-bottom: .5em solid var(--blue_navy);

}

.services {
    position: relative;
}

.services>ul {
    transition: opacity .25s ease-in;
}

.drop {
    visibility: none;
    opacity: 0;
    /* display: flex; */
    flex-direction: column;
    background-color: var(--blue_navy);
    transition: all 1s;
    position: absolute;
    left: 0px;
    top: 36px;
    z-index: 5;
}

.services:hover ul {
    visibility: visible;
    opacity: 1;
}

.drop li {
    padding: .5em 1em 0 .5em;
    margin: 0;
    border-bottom: .5em solid var(--blue_navy);
}


main {
    padding: 5%;
}

.hero {
    width: 100%;

}

.hero-img * {
    max-width: 100%;
    height: auto;
}

.book-today {
    width: 90%;
    max-width: 282px;
    height: 2.3em;
    background-color: var(--dark_pink);
    color: var(--light_pink);
    border-radius: .7em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-top: .3em;
}

.featured-temple {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.weather-in {
    border: 3px solid transparent;
    border-image: linear-gradient(135deg, var(--blue_navy), var(--dark_pink));
    border-image-slice: 1;
    padding: .7em;
}

.forecast {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    overflow: scroll;
}

.forecast>div {
    border: 2px solid var(--yellow);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    margin-top: 7px;
    width: 97.35px;
}

.tiny {
    font-size: .7em;
    margin-bottom: -5px;
}

.follow {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.follow-twitter {
    background-image: url('images/twitter_icon.png');
}

.happy-wrap {
    position: relative;
}

.happy-message {
    width: 100vw;
    left: calc(-50vw + 50%);
    height: 6em;
    color: var(--yellow);
    background-color: var(--blue_navy);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.cursive {
    margin: 8px;
    font-family: 'Great Vibes', cursive;
    font-size: 1.7em;
}


