@media only screen and (min-width:54.3em) {
    main {
        padding-bottom: 3%;
    }
    .banner div {
        flex-direction: row;
    }
    .banner div * {
        margin: 0 1em;
    }
    a.logo-title {
        margin-right: 2rem;
        margin-left: 2rem;
    }
    header {
        display: grid;
        grid-template-columns: auto auto;
        justify-content:start;
        align-items: center;
        padding: 0;
        height: 120px;
    }
    #header-logo {
        width: 100px;
        height: auto;
    }
    nav {
        border-top: none;
    }
    .tip {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .top-grid {
        display: flex;
        justify-content: center;
        gap: 2em;
    }
    footer {
        padding-left: 2em;
        padding-bottom: 2em;
    }

}