/* mkdir lol */

.view-toggle {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 13em;
}

.view-toggle div {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.dir-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 1em;
    justify-content: space-evenly;
}

.dir-cards section {
    flex-direction: column;
}


.hide {
    display: none;
}