main h1 {
    font-size: 2em;
}

.fast-facts h2,
.gallery h2 {
    margin-top: .5em;
}

.discovergrid {
    width: 90%;
}

.fast-facts {
    flex-direction: column;
}

.fast-facts h2 {
    margin-bottom: .5em;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    max-width: 100%;
    padding: 0 1em;
    padding-bottom: 1em;

}

.gallery div {
    background-color: #c1c7ce;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #083d77;
    transition: box-shadow .1s ease-out;
    max-width: 467px;
}

.gallery div p {
    background-color: #c1c7ce;
    margin: 8px;
    text-align: center;
}

.gallery img {
    max-width: 100%;
    height: auto;

}


@media only screen and (min-width:43em) {

    main {
        display: block;
    }

    .discovergrid {
        display: grid;
        grid-template-columns: 65% 1fr;
        gap: 1em;
        width: 100%;
    }

    .gallery div:hover {
        box-shadow: 0px 0px 6px #fe4530;
    }


}