main h1 {
    font-size: 2em;
}

.fast-facts h2,
.gallery h2 {
    margin-top: .5em;
}

.discovergrid {
    width: 90%;
}

.fast-facts {
    display: block;
    padding: .5em 1.5em;
    margin-bottom: 1em;
}


.fast-facts ul li {
    padding-bottom: 1em;
    background-color: #c1c7ce;
}

.fast-facts * {
    background-color: #c1c7ce;
}

.fast-facts h2 {
    margin-bottom: .5em;
}

.fast-facts p:first-of-type {
    margin-bottom: 1em;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    max-width: 100%;
    padding: 0 1em;
    padding-bottom: 1em;

}

.gallery div {
    background-color: #c1c7ce;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #083d77;
    transition: box-shadow .1s ease-out;
    max-width: 467px;
    min-height: 320px;
    height: -content;
    flex: 0 0 auto;
}

.gallery div p {
    background-color: #c1c7ce;
    margin: 8px;
    text-align: center;
}

.gallery img {
    max-width: 100%;
    height: auto;

}


@media only screen and (min-width:48em) {

    main {
        display: block;
    }

    .fast-facts {
        height: 40em;
    }

    .gallery {
        height: 40em;
        align-items: center;
        justify-content: start;
        overflow: scroll;
    }

    .discovergrid {
        display: grid;
        grid-template-columns: 65% 1fr;
        gap: 1em;
        width: 100%;
    }

    .gallery div:hover {
        box-shadow: 0px 0px 6px #9400ff;
    }


}