@media only screen and (min-width:54.3em) {


    header {
        margin-bottom: 0;
    }

    header div:first-child a {
        gap: 7em;
    }

    h1 {
        font-size: 3em;
    }

    #title h2 {
        font-size: 2em;
    }

    .hambutton {
        display: none;
    }

    header div:first-child {
        grid-template-columns: auto 3em 3em;
    }

    nav {
        display: flex;
        flex-direction: row;
        max-width: 800px;
        background-color: #514a3900;
    }

    nav a {
        padding: 0 5px 0 5px;
        border-radius: 0 0 7px 7px;
        transition: padding 200ms ease;
    }

    .active {
        background-color: #EEE9E5;
        color: #514A39;
        border: 2.5px solid #514A39;

    }

    nav a:hover {
        box-shadow: 1px 1px 5px #888;
        padding: 0 8px 0 8px;
    }

    /* BODY STYLES */


    .home {
        grid-template-columns: calc(25% - 1em) calc(50% - 1em) calc(25% - 1em);
        grid-template-rows: repeat(3, 15em);
        gap: 1.5em;
        margin-bottom: 2em;
        width: 95%;
    }

    #hero-img img {
        object-fit: cover;
        object-position: 29% 50%;
        height: 504px;
    }

    main section {
        width: 100%;
        height: 100%;
    }

    .home .hero {
        grid-column: 2 / 3;
        grid-row: 1 / 3
    }

    .home .event {
        grid-column: 2 / 3;
    }

    .home .news {
        grid-column: 1 / 2;
        grid-row: 1 / 2
    }

    .home .weather {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .home .join {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .home .spotlight {
        grid-column: 3 / 4;
        grid-row: 1 / 4;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    h3 {
        text-align: center;
    }

    .weathergrid {
        gap: .5em;
        grid-template-rows: 3.5em;
    }

    #forecast {
        font-size: 1.5em;
    }

    .spotlight {
        overflow: scroll;
    }

    .spotlight div:nth-child(3) {
        display: block;
    }

    .spotlight div:nth-child(3) div {
        height: auto;
    }

    .spotlight div {
        height: 100%;
    }
}