* {
    color: #514A39;
    background-color: #EEE9E5;
    font-family: 'Bodoni Moda', serif;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    position: relative;
}

header {
    margin-bottom: 1em;
}

h1 {
    margin-bottom: .2em;
}

header div:first-child a:first-child {
    display: flex;
    flex-direction: row;
}

header div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none;
}

#title {
    margin: 0;
}

.social {
    margin: 0;
    width: 80%;
    height: auto;
}

.hambutton {
    font-size: 3em;
    margin-top: -10px;
}

h2 {
    font-size: .8em;
}

header div:first-child a:first-child img {
    width: 30%;
    height: auto;
    margin: 0;
}

#todaydate {
    height: 2em;
    width: 90%;
    border: 1px solid #083d77;
    color: #083d77;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: none;
    transition: display, 200ms ease;
}

nav a {
    display: block;
    text-align: center;
    color: #EEE9E5;
    line-height: 42px;
    text-decoration: none;
    background-color: #514A39;
    padding: 0 1em;
}

nav a:hover {
    color: #514A39;
    background-color: #EEE9E5;
}

main {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1em;
    margin: 1.5em auto 1em auto;
}

main section {
    width: 100%;
    height: auto;
    border: 1px solid #083d77;
    background-color: #083e774b;
}

main section:nth-child(6) {
    display: none;
}

section p {
    background-color: #083e7700;
    height: 10em;
    margin: 1em;
}

.spotlight div {
    width: 80%;
    height: 8em;
    border: 1px solid #083d77;
    margin: 1em;
}

.spotlight div:nth-child(3) {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    background-color: #514A39;
    color: #EEE9E5;

}

footer * {
    padding: .5em;
    color: #EEE9E5;
    background-color: #514A39;
}

footer a:first-child img {
    height: auto;
    width: 40%;
}

footer a:first-child {
    display: flex;
    justify-content: center;
}

.footeraddress {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footercontact {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footerbottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #EEE9E5;
}

.footerbottom * {
    padding: .3em;
    font-size: .8em;
}

/* hamburger menu responsive */
.responsive {
    display: block;
    position: absolute;
    right: 5%;
    top: 3.5%;
    border-radius: 7px;
    background-color: #514A39;
    overflow: hidden;
    box-shadow: 1px 1px 5px;
}